/* -------------------------------------------------- 
/* VARIABLES
/* ------------------------------------------------ */
$clr-primary-400: #c28e0e;
$clr-primary-600: #98700d;
$clr-primary-900: #333;

$clr-secondary-200: #baa892;
$clr-secondary-400: #29a592;
$clr-secondary-500: #6e99b4;
$clr-secondary-700: #595959;

$ff-primary: Arial, sans-serif;
$ff-accent: 'Archivo Narrow', sans-serif;


/* -------------------------------------------------- 
/* CONFIG / LAYOUT
/* ------------------------------------------------ */
*,*::before,*::after {
  box-sizing: border-box;
}

body {
  font-family: $ff-primary;
  font-weight: 400;
  line-height: 1.5;

  @media (min-width: 40em) {
    body {
      overflow-x: hidden;
    }
  }
}

p,
a {
  font-size: 1.375rem; 
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,h2,h3,h4 {
  font-family: $ff-accent;
  font-weight: bold;
  line-height: 1;
}
h1 {font-size: 6.2rem} /* 74pt */
h2 {font-size: 5.4rem} /* 64pt */
h3 {font-size: 3.7rem} /* 44pt */
h4 {font-size: 2.5em} /* 30pt */
h5 {font-size: 2rem; font-weight: bold;} /* 24pt */

.font-sm {font-size: 0.875rem}
@media only screen and (min-width: 48em) {
  // body{font-size: 1.7rem} /* 20pt */
 
  h1 {font-size: 6.7rem} /* 80pt */
  h2 {font-size: 4rem} /* 48pt */
  h3 {font-size: 2rem} /* 24pt */
  h4 {font-size: 1.6rem} /* 20pt */
  h5 {font-size: 1.1rem} /* 13pt */

  .font-sm { font-size: 1rem; }
}

a {
  text-decoration: none;
  color: $clr-secondary-700;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

img {
  max-width: 100%;
  display: block;
}

.container { 
  width: 85%;
  max-width: 70rem;
  margin: 0 auto;

  @media (min-width: 50em) {
    width: 80%;
  }
}
.container--narrow {
  max-width: 52rem;
  margin: 0 auto;
}


.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;

  &-main {
    flex: 1 1 100%;

    @media (min-width: 60rem) {
      padding: 0 1rem;
      margin-top: 1rem;
    }
  }

  &-side {
    flex: 1 1 100%;
    // min-width: 20em;
    display: flex;
    justify-content: center;
  }

  
  @media (min-width: 60em) {
    &-main {
      flex: 1 1 calc(65% - 2em);
    }
  
    &-side {
      flex: 1 1 35%;
      align-self: flex-end;
    }
    
    .left {order: 1}
    .right {order: 2}

  }
}

.btn{
  display: inline-block;
  padding: 1em 2.5em;
  margin: 1em;
  border: none;
  text-align: center;
  color: $clr-primary-900;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  background: $clr-primary-400;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;

  &:hover,
  &:focus {
    color: #fff;
    background: $clr-primary-600;
  }
}

.banner-cta {
  text-align: center;
  margin: 4rem auto;
}

.full-width-banner {
  margin-top: 4rem;
  padding: 2rem 0;
  background: $clr-primary-600;
  color: #fff;
  line-height: 1.25;

  .sidebar-side {
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    
    @media (min-width: 60rem) {
      flex-direction: row;
      margin-top: 0;
      padding-right: 10%;
      

      .fa {
        margin-right: 1rem;
      }
    }
  }

  h3 {
    font-size: 2rem;
  }

  .sidebar-main {
    text-align: center;
    padding: 0 1.2rem;
    margin-top: 0;

    @media (min-width: 60rem) {
      text-align: left;
    }
  }

  .font-sm {
    margin-top: 1rem;
    padding: 0 3rem;

    @media (min-width: 60rem) {
      padding: 0;
    }
  }

}

/* -------------------------------------------------- 
/* UTILITIES
/* ------------------------------------------------ */
.highlight {
  color: $clr-primary-400!important;
}

.hidden-mb {
  display: none;

  @media (min-width: 60rem) {
    display: inherit;
  }
}

.hidden-dt {
  display: inherit;

  @media (min-width: 60rem) {
    display: none;
  }
}


/* -------------------------------------------------- 
/* HEADER
/* ------------------------------------------------ */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  min-height: 7em;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  
  .logo{
    width: 16em;
    max-width: 16em;
  }

  .nav--mobile {
    position: absolute;
    right: 0px;
    top: 7em;
    height: calc(100vh - 7em);
    padding: 10em 0;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    transform: translateX(100%);
    -webkit-transition: transform 0.4s ease-in;
    -moz-transition: transform 0.4s ease-in;
    -ms-transition: transform 0.4s ease-in;
    -o-transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in;

    hr {
      width: 10em;
      text-align: center;
      color: $clr-secondary-700;
    }

    a {
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
      
      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }

  .nav--desktop{
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 1.25em;
    background: $clr-primary-400;
    padding: 3px;
    
    .line {
      width: 16px;
      height: 2px;
      margin: 4px;
      background-color: #fff;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
     }
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-4px, -4px);
  }
  
  .nav-active {
    transform: translateX(0);
  }

  @media (min-width: 40em) {
    width: 90%;
    left: 50%;
    padding: .5em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    
    .logo{
      width: 12em;
    }

    .nav--mobile,
    .burger{
      display: none;
    }

    .nav--desktop{
      display: inline-block;
    }
    
    .nav-link--desktop{
      display: inline-block!important;
      color: $clr-secondary-700;
      margin: 1em;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        color: $clr-primary-400;
      }
    }
  }

}
  

/* -------------------------------------------------- 
/* HERO SECTION
/* ------------------------------------------------ */

.hero {
  height: 100vh;
  background: #000;
  background: url(../img/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  h1{
    font-size: 3rem;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h1, h1 + p {
    width: 60%;
  }

  h1 + p{
    color: #fff;
    font-size: 1.3rem;
    margin: 0.5em 0;
  }

  .hero-nav{
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;

    .anchor{
      flex: 1 1 12em;
      font-size: 0.9rem;
      text-align: center;
      border: 1px solid #777;
      background: #111;
      padding: 2em 0 0 0;
      text-decoration: none;      
      color: $clr-secondary-700;
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
    
      &:hover,
      &:focus {
        color: #fff;
      }
        
      &-stripe {
        height: 1.5rem;
        margin-top: .6rem;
      }

      @media (max-width: 40em) {
        flex: 1 1 50%;
      }

      @media (min-width: 40em) {
        &:hover,
        &:focus {
          border-color: #fff;
        }
      }

    }

    .why-us {
      .anchor-stripe {
        background: url(../img/mobile-stripes/why-us-card-hero.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .academics {
      .anchor-stripe {
        background: url(../img/mobile-stripes/academics-card-hero.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .student-life {
      .anchor-stripe {
        background: url(../img/mobile-stripes/student-life-card-hero.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .fort-wayne {
      .anchor-stripe {
        background: url(../img/mobile-stripes/fort-wayne-card-hero.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    @media (max-width: 40em) {
      flex-wrap: wrap;
    }

  }
  
  .dropdown {
    text-align: center;
    margin: 1em;
  }

  @media (min-width: 40em) {
      background: url(../img/hero-desktop.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      justify-content: flex-end;
      
      h1, h1 + p {
        width: 100%;
        text-align: center;
      }

      h1 {
        font-size: clamp(4rem, calc(5vw + 1rem), 5.5rem);
      }

      h1 + p {
        padding: 0 1.5em; 
      }
  }

}


/* -------------------------------------------------- 
/* VISIT DAY SECTION
/* ------------------------------------------------ */
.visit-day {
  text-align: center;
  margin: 5em 0;

  .sidebar-side {
    display: none;
  }

  .sidebar-main {
    text-align: center;
    font-weight: 700;
  }

  .fa {
    color: $clr-primary-400;
  }

  .font-sm {
    text-transform: uppercase;
  }

  @media (min-width: 40rem) {
    .sidebar-side {
      display: flex;
    } 
  }
}

/* -------------------------------------------------- 
/* CATEGORIES
/* ------------------------------------------------ */

.category {
  margin-top: 4rem;

  &--hero {
    background: #fff;
    height: 20rem;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: -1;

    > .container {
      height: 100%;
      width: 100%;
      position: relative;

      @media (min-width: 60em) {
        width: 85%;
      }
    }

    @media (min-width: 60em) {
      height: 35rem;
      width: 90%;
      background: url(../img/why-us-desk.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    @media (min-width: 70em) {
      height: 40rem;
      background: url(../img/why-us-desk.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &--title {
    width: 90%;
    margin: 0 auto;
    background: #000; 
    line-height: 1;
    display: flex;
    flex-direction: column;
    position: absolute;   
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: 60em) {
      width: calc(35% - 2em);
      max-width: 270px;
      top: 100%;
      left: 0;
      transform: translate(0, -50%);
    }

    & > * {
      flex-basis: 100%;      
    }
    
    p {
      padding: .25em .5em;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-family: $ff-accent;
      color: #fff;

      @media (min-width: 60em) {
        font-size: 2rem;
        
        span {
          display: block;
        }
      }
    }
    
    .title-stripes {
      background: #000;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      font-size: 1rem;
      color: #fff;
    }

    h2 {
      font-size: 1.6rem;
      padding: .25em .5em;
      color: #fff; 

      @media (min-width: 60em) {
        padding-bottom: 3em;
      }
    }
  }

  &--title.title-right {
      
    @media (min-width: 60em) {
      left: 65%;
    }
  }

  > .container {
    margin-top: 6em;

    p {
      margin: 1rem 0;
    }

    @media (min-width: 60em) {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }

  // ------------------------------------------------------- //
  // 'WHY US / FIND YOUR PLACE' 
  // Styling specific to the 'Why Us / Find your place' section
  // ------------------------------------------------------- //
  
  &#why-us &--hero {
    background: url(../img/why-us-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    
    @media (min-width: 60em) {
      background: url(../img/why-us-desk.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &#why-us .title-stripes {
    background: url(../img/mobile-stripes/why-us-stripes-mb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: 60em) {
      background: url(../img/stripes-desktop/why-us-stripes-dt.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

  }

  &#why-us .stat-num,
  &#why-us .category--title p {
    color: $clr-secondary-200;
  }


  // ------------------------------------------------------- //
  // ACADEMICS / CRAFT YOUR FUTURE
  // Styling specific to the 'Academics / Craft Your Future' section
  // ------------------------------------------------------- //
  &#academics &--hero {
    background: url(../img/academics-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    
    @media (min-width: 60em) {
      background: url(../img/academics-desktop.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &#academics .title-stripes {
    background: url(../img/mobile-stripes/academics-stripes-mb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: 60em) {
      background: url(../img/stripes-desktop/academics-stripes-dt.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &#academics .category--title p,
  &#academics .stat-num {
    color: $clr-primary-600;
  }

  &#academics .slider-item .fa {
    color: $clr-primary-400;
  }

  // ------------------------------------------------------- //
  // STUDENT LIFE / SEE YOURSELF THERE
  // Styling specific to the 'Student Life / See yourself there' section
  // ------------------------------------------------------- //
  &#student-life &--hero {
    background: url(../img/student-life-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    
    @media (min-width: 60em) {
      background: url(../img/student-life-desktop.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &#student-life .title-stripes {
    background: url(../img/mobile-stripes/student-life-stripes-mb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: 60em) {
      background: url(../img/stripes-desktop/student-life-stripes-dt.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

 &#student-life .category--title p,
 &#student-life .stat-num {
   color: $clr-secondary-400;
 }

  // ------------------------------------------------------- //
  // FORT WAYNE / EXPLORE THE CITY
  // Styling specific to the 'FORT WAYNE / EXPLORE THE CITY' section
  // ------------------------------------------------------- //
  &#fort-wayne &--hero {
    background: url(../img/fort-wayne-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    
    @media (min-width: 60em) {
      background: url(../img/fort-wayne-desktop.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &#fort-wayne .title-stripes {
    background: url(../img/mobile-stripes/fort-wayne-stripes-mb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: 60em) {
      background: url(../img/stripes-desktop/fort-wayne-stripes-dt.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &#fort-wayne .category--title p {
    color: $clr-secondary-500;
  }

  &#fort-wayne .slider-item {
    width: 9rem;
    min-height: 10.5rem;
  }

  &#fort-wayne .slider-item .fa,
  &#fort-wayne .slider-item .bottom,
  &#fort-wayne .slider-item hr {
    color: $clr-secondary-500;
  }

  &#fort-wayne .slider-item .font-sm {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
  }

  &#fort-wayne .stat-num {
    color: $clr-secondary-500; 
  }


  // ------------------------------------------------------- //
  // YOUR BACKYARD / THROUGH NEW EYES
  // Styling specific to the 'YOUR BACKYARD / THROUGH NEW EYES' section
  // ------------------------------------------------------- //
  &#your-backyard &--hero {
    background: url(../img/fort-wayne-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    
    @media (min-width: 60em) {
      background: url(../img/fort-wayne-desktop.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &#your-backyard .title-stripes {
    background: url(../img/mobile-stripes/student-life-stripes-mb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: 60em) {
      background: url(../img/stripes-desktop/student-life-stripes-dt.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &#your-backyard .category--title p {
    color: $clr-secondary-400;
  }

  &#your-backyard .slider-item {
    width: 9rem;
    min-height: 10.5rem;
  }

  &#your-backyard .slider-item .fa,
  &#your-backyard .slider-item .bottom,
  &#your-backyard .slider-item hr {
    color: $clr-secondary-500;
  }

  &#your-backyard .slider-item .font-sm {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
  }

  &#your-backyard .stat-num {
    color: $clr-secondary-500;
  }

}

/* -------------------------------------------------- 
/* TESTIMONIALS
/* ------------------------------------------------ */
.testimonial {
  padding: 1rem 3rem;
  text-align: center;
  letter-spacing: .5px;

  @media (min-width: 60em) {
    padding: 1rem 2rem;
  }

  .fa-quote-left {
    color: $clr-primary-600;
  }
  
  .quote {
    font-style: italic;
    font-size: 1.5rem;
    font-family: $ff-accent;
    position: relative;
    z-index: -1;
  }

  .name, 
  .info {
    color: $clr-primary-400;
    line-height: 1.25;
    margin: 0!important;
    font-size: 1.125rem;
  }

  .name {
    font-weight: 700;
    text-transform: uppercase;
  }
}


/* -------------------------------------------------- 
/* STATS COUNTER
/* ------------------------------------------------ */
.stats-counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  .stat {
    flex: 1 1 calc(33% - 1rem);
    padding: 1rem 2rem;
    background: #000;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 60rem) {
      padding: 1rem 3rem;
    }

    p {
      max-width: 30rem;
      margin: 0 auto .25rem auto;
    }
  }
  
  .stat-num {
    font-family: $ff-accent;
    color: $clr-secondary-200;
    font-size: 8rem;
    line-height: 1;
    font-weight: 700;
    margin: 1rem 0;
  }
}


/* -------------------------------------------------- 
/* SLIDER
/* ------------------------------------------------ */

.slider {
  @media (min-width: 60rem) {
    padding: 1rem 5rem;
  }
    
  .slick-prev::before {
    content: '\f053';
    font-family: FontAwesome; 
  }
  .slick-next::before {
    content: '\f054';
    font-family: FontAwesome; 
  }
  .slick-prev::before,
  .slick-next::before {
    color: $clr-primary-400;
    font-size: 2rem;
  }

  .slick-dots li button::before {
    color: $clr-primary-900;
    font-size: 2rem;
  }
  .slick-dots li.slick-active button::before {
    color: $clr-primary-400;
    font-size: 2rem;
  }


  
  &-item {
    width: 8rem;
    min-height: 12rem;
    margin: 1rem;
    // display: flex;
    // flex-direction: column;
    position: relative;
    z-index: -1;
    
    h3 {
      font-size: 1.375rem;
      margin: .8rem 0;
      line-height: 1;
    }

    .bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }

    p {
      margin: 0!important;
    }
  }
}


/* -------------------------------------------------- 
/* FOOTER FORM SECTION
/* ------------------------------------------------ */
.footer-form {
  background: #000;
  padding: 2rem 0;
  color: #fff;
  text-align: center;

  .sidebar {
    gap: 0;
  }
  
  .sidebar-side {
    flex-direction: column;
    align-self: stretch;
    background: $clr-primary-900;
    padding: 2rem;
    
    a {
      color: #fff;
    }

    .fa {
      color: $clr-primary-400;
    }
  }

  .sidebar-main {
    background: $clr-secondary-700;
    padding: 2rem;
    margin: 0;
    line-height: 1.2;
    font-size: 1.1rem;

    p {
      font-size: 1.125rem;
    }
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
  } 
}

.form-cta {
  
  select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    background: url(../img/icons/chevron.png) no-repeat right transparent;
    background-position-x: 98%;
    color: #fff;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: 1.625rem;
    cursor: inherit;
    line-height: inherit;
    outline: none;
  }
  select::-ms-expand {
    display: none;
  }

  input {
    
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
    padding-bottom: .2rem;
    border-bottom: 2px solid #fff;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  
  
  
  
  
  .steps {
    margin: 1.5rem 0;
  }

  /* Make circles that indicate the steps of the form: */
  .step {
    height: 24px;
    width: 24px;
    margin: 0 4px;
    border: 1.5px solid $clr-primary-400;
    border-radius: 50%;
    display: inline-block;
    padding: 2px;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
    background: $clr-primary-400;
    color: #fff;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: $clr-primary-400;
  }
}